@import "tailwindcss";
@import "tw-animate-css";
@import 'devicon/devicon.min.css';

/* @layer utilities : ajout uniquement pour ce que tu veux rendre override-able */
@layer utilities {
  .titre {
    font-family: 'Winky Sans', sans-serif;
  }
html {
  scroll-behavior: smooth;
}


  .bg-light {
    background-color: #FFF9F2;
  }

  .bg-light-composant {
    background-color: #FFEEDB;
  }

  .bg-light-bouton {
  background-color: #fdba68;
}

/* .bg-light-bouton:hover {
  background-color: #ffb151; /* un peu plus foncé que #F5B769  
} */

.bg-light-bouton-second {
  background-color: #ffffff;
}

/* .bg-light-bouton-second:hover {
  background-color: #fcaf51; /* un peu plus foncé que #ffd9ab   
} */

  .text-light-primary {
    color: #2E2E2E;
  }

  .text-light-secondary {
    color: #6F4D29;
  }

  .border-light {
    border-color: #EAD8C2;
  }

  .border-light-bouton {
    border-color: #1E160F;
  }

  .border-light-contrast {
    border-color: #C08A3E;
  }

  .text-light-contrast {
    color: #C08A3E;
  }

  .bg-dark {
    background-color: #17120E;
  }

  .bg-dark-composant {
    background-color: #393E46;
  }

  .bg-dark-bouton {
    background-color: #D65A31;
  }

  .bg-dark-text-primary {
    background-color: #EEEEEE;
  }

  .text-dark-primary {
    color: #EEEEEE;
  }

  .border-dark-bouton {
    border-color: #EEEEEE;
  }

  .text-dark-text-secondary {
    color: #C6C6C6;
  }

  .border-dark-border {
    border-color: #3F4A51;
  }

  .border-dark-accent {
    border-color: #D65A31;
  }

  .border-dark-contrast {
    border-color: #FFB184;
  }

  .bg-dark-bouton-second {
    background-color: #4B5563;
  }

  .border-dark-button-second {
    border-color: #CBD5E1;
  }

  .text-dark-contrast {
    color: #F38A5C;
  }

  .bg-dark-contrast {
    background-color: #F38A5C;
  }

  .bg-dark-accent-soft {
    background-color: #b84922;
  }

  .focus\:ring-dark-accent {
    --tw-ring-color: #D65A31;
  }

  .focus\:ring-light-accent {
    --tw-ring-color: #FFB184;
  }
  
  }
.custom-pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    border-radius: 9999px !important;
    opacity: 1 !important;
    transition: background-color 0.2s ease !important;
  }

  .pagination-light .swiper-pagination-bullet {
    background-color: #000000 !important;
    opacity: 1 !important;
  }

  .pagination-light .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #f5b769 !important;
    opacity: 1 !important;
  }

  .pagination-dark .swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 1 !important;
  }

  .pagination-dark .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fd9f69 !important;
    opacity: 1 !important;
  }
 
  body {
    font-family: 'Shippori Antique B1', sans-serif;
  }

